In [5]:
import os.path
import csv
import sqlite3
import pandas as pd

In [52]:
def pandify_from_txt():
    df = pd.read_table('/Users/zack/Desktop/MaintFeeEvents.txt', header = None, sep=' ',names = ['0','1', '2','3','4','5','6'] )
    return df

In [53]:
dftxt = pandify_from_txt()
dftxt = dftxt.reset_index()
dftxt.columns =  ['Patent_Number','US_Application_Number', 'Small_Entity','US_Application_Filing_Date','US_Grant_Issue_Date','Maintenance_Fee_Event_Entry_Date','Maintenance_Fee_Event_Code', 'drop']

/Users/zack/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2802: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

In [54]:
dftxt = dftxt.drop('drop',axis=1)

In [111]:
dftxt.shape

(15984775, 7)

In [115]:
%time search_one = dftxt[(dftxt['US_Grant_Issue_Date'] > 20001231) & (dftxt['Maintenance_Fee_Event_Code'] == 'EXP.')]

CPU times: user 1.43 s, sys: 38 ms, total: 1.47 s
Wall time: 1.47 s

In [116]:
search_one.shape

(789593, 7)

In [117]:
search_one.head()

,Patent_Number,US_Application_Number,Small_Entity,US_Application_Filing_Date,US_Grant_Issue_Date,Maintenance_Fee_Event_Entry_Date,Maintenance_Fee_Event_Code
8229444,6167569,9426589,Y,19991025,20010102,20090102,EXP.
8229447,6167570,9374529,Y,19990816,20010102,20050103,EXP.
8229449,6167571,9349456,Y,19990708,20010102,20130102,EXP.
8229453,6167572,9428168,Y,19991027,20010102,20090102,EXP.
8229461,6167574,9415451,Y,19991008,20010102,20130102,EXP.