In [5]:
import os.path
import csv
import sqlite3
import pandas as pd

In [52]:
def pandify_from_txt():
    df = pd.read_table('/Users/zack/Desktop/MaintFeeEvents.txt', header = None, sep=' ',names = ['0','1', '2','3','4','5','6'] )
    return df

In [53]:
dftxt = pandify_from_txt()
dftxt = dftxt.reset_index()
dftxt.columns =  ['Patent_Number','US_Application_Number', 'Small_Entity','US_Application_Filing_Date','US_Grant_Issue_Date','Maintenance_Fee_Event_Entry_Date','Maintenance_Fee_Event_Code', 'drop']

/Users/zack/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2802: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

In [54]:
dftxt = dftxt.drop('drop',axis=1)

In [55]:
dftxt_2 = dftxt.loc[dftxt['US_Application_Filing_Date'] >20001231 ]

In [60]:
dftxt_2.shape

(6005907, 7)

In [73]:
%timeit Search_one = dftxt_2.loc[(dftxt_2['Maintenance_Fee_Event_Code'] == 'EXP.') & (dftxt_2['US_Grant_Issue_Date'] > 20001231 )]

610 ms ± 26.6 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [76]:
Search_one.shape

(7792, 7)

In [77]:
Search_one.head()

,Patent_Number,US_Application_Number,Small_Entity,US_Application_Filing_Date,US_Grant_Issue_Date,Maintenance_Fee_Event_Entry_Date,Maintenance_Fee_Event_Code
15392443,8590062,12583524,Y,20090822,20131126,20171225,EXP.
15392458,8590070,13641454,Y,20121015,20131126,20171225,EXP.
15392466,8590074,12484345,N,20090615,20131126,20171225,EXP.
15392476,8590079,12227495,N,20090116,20131126,20171225,EXP.
15392479,8590080,13691979,M,20121203,20131126,20171225,EXP.